body {
  font-family: 'Poppins', sans-serif;
  background-color: black; }

.nav__color {
  background-color: goldenrod; }

.carrusel__alto {
  height: 500px; }

.estrenos__titulo, .color__letra {
  padding: 20px;
  text-align: center;
  color: white; }

.color__letra {
  text-transform: uppercase; }

.cartelera, .footer {
  display: grid;
  text-align: center;
  color: white;
  align-items: center;
  padding: 20px; }
  .cartelera:__titulo, .footer:__titulo {
    color: white;
    text-align: center;
    padding: 20px; }
  .cartelera:__pelicula, .footer:__pelicula {
    padding: 20px; }

.color__boton {
  background-color: goldenrod;
  border-color: goldenrod; }
  .color__boton:hover {
    background-color: red;
    border-color: red; }

.formulario {
  padding: 20px; }
  .formulario:__color {
    color: white; }

.footer {
  justify-content: space-around; }

@media (min-width: 800px) {
  .cartelera, .footer {
    grid-template-areas: "reyleon ironman" "bluevelvet pulpfiction"; }
  .pelicula1 {
    grid-area: reyleon; }
  .pelicula2 {
    grid-area: ironman; }
  .pelicula3 {
    grid-area: bluevelvet; }
  .pelicula4 {
    grid-area: pulpfiction; }
  .footer {
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
    align-items: baseline;
    justify-items: stretch; } }

@media (min-width: 1200px) {
  .cartelera, .footer {
    grid-template-areas: "reyleon ironman bluevelvet pulpfiction"; }
    .cartelera__titulo {
      color: white;
      text-align: center; }
  .footer {
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
    align-items: baseline;
    justify-items: stretch; } }
